 /*Color Theme Swatches in Hex */
 /*
.Principal { color: #6CA6D9; }
.backgroud { color: #ACD1F2; }
.Fashion-3-hex { color: #04D94F; }
.Fashion-4-hex { color: #888C03; }
.estaque { color: #D9BFA9; } */

html {
    background-color: #D9BFA9;
    color:#6CA609 ;

}

